			  	
    <div class="row storeContent">
    <div class="col-sm-8">
    	          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h3>Product List</h3>
            <hr class="my-4">
            <span>This is a sample shopping application with shopping cart and item page implementations. Angular with spring boot rest integration done to get product list from embedded mongo db .</span>
          </div>
    	<store-app> </store-app> 
    	</div>
    	<div class="col-sm-4 cart">
    		<cart-app> </cart-app> 
    	</div>
    </div>